<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IUSA Demo API</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="resources/css/style.css">
    </head>

    <body>

        <div class="signupFrm">
            <form action="http://localhost:3000/list/findmotos" class="form" method="post">
              <h1 class="title">Buscar</h1>
        
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" id="name" name="name">
                <label for="" class="label">Nombre</label>
              </div>
        
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" id="phone" name="phone">
                <label for="" class="label">Teléfono</label>
              </div>
        
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" id="mail" name="mail">
                <label for="" class="label">Correo electronico</label>
              </div>
        
              <input type="submit" class="submitBtn" value="Buscar">
            </form>
          </div>

       

    </body>
</html>